# Week 1 - ```for``` loops

# 1. ```for loops```... a data journalist's favorite Python expression</center>

We use it to **iterate** over:
* data stored in a list and run some calculation on each value;
* a list of URLs and visit each site to scrape data;
* data stored in dictionary keys and values and return what you are looking for.

In [2]:
## run this list
fav_animals = ["cats", "dogs", "birds", "snakes", "horses"]

In [3]:
##call the temporary variable
fav_animals

['cats', 'dogs', 'birds', 'snakes', 'horses']

In [5]:
## name dog lucy
my_dog = "lucy"

In [9]:
## upper case the previous variable 
## you can target an individual item
my_dog.title()
my_dog.upper()

'LUCY'

In [10]:
## upper case and print each animal in our list
## this will break
fav_animals.upper()

AttributeError: 'list' object has no attribute 'upper'

In [11]:
fav_animals[0]

'cats'

In [13]:
fav_animals[0].upper()

'CATS'

In [21]:
## use a for loop to upper case each animal and print it

for fav_animal in fav_animals:
        print(fav_animal)
        print(fav_animal.upper())

cats
CATS
dogs
DOGS
birds
BIRDS
snakes
SNAKES
horses
HORSES

In [39]:
## did our list change? Call the fav_animals list
fav_animals

['cats', 'dogs', 'birds', 'snakes', 'horses']

In [40]:
## We save our iterated data by adding to an empty list
upper_animals = []

for animal in fav_animals:
    upper_cased = animal.upper()
    print(upper_cased)
    upper_animals.append(upper_cased)

CATS
DOGS
BIRDS
SNAKES
HORSES

In [51]:
upper_animals = []
for animal in fav_animals:
    upper_animals.append(animal.upper())

In [52]:
upper_animals

['CATS', 'DOGS', 'BIRDS', 'SNAKES', 'HORSES']

```for loops``` <a href="https://docs.google.com/presentation/d/1ZsrzpQHTXK35pd3io8rwQUX10rBHf1T9iYz_SaqbhQo/edit?usp=sharing">slides</a>

Let's take **For Loops** for test drive:

In [53]:
## RUN THIS CELL - Use this list of CEO salaries from 1985 
ceo_salaries_1985 = [150_000, 201_000, 110_000, 75_000, 92_000, 55_000]

In [62]:
## Print each salary with in the following format:
## "A CEO earned [some value] in 1985."

for ceo_salary_1985 in ceo_salaries_1985:
    print(f"A CEO earned ${ceo_salary_1985:,.0F} in 1985.")

A CEO earned $150,000 in 1985.
A CEO earned $201,000 in 1985.
A CEO earned $110,000 in 1985.
A CEO earned $75,000 in 1985.
A CEO earned $92,000 in 1985.
A CEO earned $55,000 in 1985.

In [76]:
## Now update each salary to 2019 dollars.
## Print the following info:
## "A CEO's salary of [1985 salary] in 1985 is worth [updated salary] in 2019 dollars."
## The CPI for 1985 is 107.6
## The 2023 CPI is 306.746
## The formula is: updated_salary = (oldSalary/oldCPI) * currentCPI
## add formatting
ceo_salaries_2023 = []
cpi_1985 = 107.6
cpi_2023 = 306.746
for ceo_salary_1985 in ceo_salaries_1985:
    ceo_salary_2023 = ceo_salary_1985/cpi_1985*cpi_2023
    print(f"A CEO who earned ${ceo_salary_1985:,.0F} in 1985 earns ${ceo_salary_2023:,.2F} in 2023.")
    ceo_salaries_2023.append(ceo_salary_2023)

A CEO who earned $150,000 in 1985 earns $427,619.89 in 2023.
A CEO who earned $201,000 in 1985 earns $573,010.65 in 2023.
A CEO who earned $110,000 in 1985 earns $313,587.92 in 2023.
A CEO who earned $75,000 in 1985 earns $213,809.94 in 2023.
A CEO who earned $92,000 in 1985 earns $262,273.53 in 2023.
A CEO who earned $55,000 in 1985 earns $156,793.96 in 2023.

In [77]:
## store the updated values
## call updated ceo salaries
ceo_salaries_2023

[427619.88847583643,
 573010.6505576208,
 313587.91821561335,
 213809.94423791821,
 262273.531598513,
 156793.95910780667]

In [78]:
ceo_salaries = [ceo_salaries_1985, ceo_salaries_2023]

In [82]:
ceo_salaries

[[150000, 201000, 110000, 75000, 92000, 55000],
 [427619.88847583643,
  573010.6505576208,
  313587.91821561335,
  213809.94423791821,
  262273.531598513,
  156793.95910780667]]